.ps-menu-button:hover, 
.ps-menu-button.ps-active,
.ps-open > .ps-menu-button {
    /* remove active select color */
    background-color: transparent !important;
}

.ps-sidebar-container {
    display: flex !important;
    flex-direction: row !important;
    height: 100% !important;
    overflow: hidden !important;
    justify-content: flex-end;
}

.menu-navi {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: opacity 0.3s ease;
}

.sidebar-toggle {
    flex: 0 0 20px; 
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.collapse-toggle
{
    background-color: transparent;
    border: none;
}

.ps-menu-root, .ps-menu-button {
    padding: 0 !important;
    display: flex;
    justify-content: center;
}

.ps-collapsed .menu-navi {
    display: none; 
}

.nav-box {
    margin: 10px auto; 
    color: var(--text-light);
    font-family: 'Playfair Display', serif;
    font-size:1.1rem;
}

.ps-submenu-content {
    background-color:transparent !important;
    color: var(--text-light);
    font-family: 'Playfair Display', serif;
    font-size: 0.9rem;
    padding-left: 8px !important;
}

.ps-submenu-expand-icon{
     /* icon under categories */
    color: var(--text-light);
    padding-left: 5px;
}

.sub-item .ps-menu-button{
    padding-left: 15px !important;
}

.cart-container {
    display:flex;
    align-items: center;
    gap: 40px;
}

.cart-counter {
    background-color: var(--button-color1);
    color: var(--text-light);
    min-width: 20px;
    padding: 2px 6px;
    font-size: 0.9rem;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    border-radius: 12px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

/* Product Grid */
.product-grid{
    display: flex;
    flex-direction: column;
    margin-left: 65px;
    padding: 20px;
    gap: 15px;
    box-sizing: border-box;
    width: auto;
}

.product-card{
    border: 1px solid var(--primary-color);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
}

.product-image-wrapper{
    aspect-ratio: 1/1;
    overflow: hidden;  
    padding:15px;
}

.product-img {
    width:100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.product-info{
    padding: 0 20px 20px 20px;
    display:flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 5px;
}

.product-info h3{
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    margin: 0;
}

.product-info p {
    margin: 0;
    font-size: 1.4rem;
    line-height: 1.4;
    font-family: 'Roboto', sans-serif;
    flex-grow: 1;
}

.product-footer{
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-footer .price{
    font-size: 1.5rem;
}

.add-btn{
    background: var(--button-color1);
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: var(--text-light);
    padding: 10px 15px;
}

.sold-out-badge {
    color: red;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    padding: 10px 15px;
}

/* Tablet views */
@media (min-width: 768px) and (max-width: 1023px) {
    .product-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        padding: 30px 50px;
    }
    
    .product-card{
        border: 1.5px solid var(--primary-color);
        min-height: 400px;
    }

    .product-image-wrapper{
        padding: 20px;
        width: 100%;
        box-sizing: border-box;
        aspect-ratio: 1/1;
    }

    .product-info h3{
        word-wrap:break-word;
        font-size: clamp(1.5rem, 2vw, 2.5rem);
    }

    .add-btn{
        padding: 8px 12px;
        font-size: medium;
    }
}

/* Desktop views */
@media (min-width: 1024px) {
    .product-grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);;
        padding: 30px 65px;
        height: auto;
    }
    
    .product-card{
        border: 1.5px solid var(--primary-color);
        max-height: 650px;
        margin: 30px 40px;
        padding: 5px 10px;
    }

    .product-image-wrapper{
        padding: 25px;
        width: 100%;
        box-sizing: border-box;
        aspect-ratio: 1/1;
    }

    .add-btn{
        padding: 10px 15px;
        font-size: larger;
    }

    .product-info h3{
        word-wrap:break-word;
        font-size: clamp(1rem, 4vw, 2rem);
    }

    .product-info p {
        font-size: clamp(0.9rem, 2vw, 1.2rem);
    }
}

/* Cart Panel */
.cart-click-capture {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1500; 
}

.cart-panel-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 70%; 
    background: var(--secondary-color);
    backdrop-filter: blur(3px);
    opacity: 0.9;
    border-radius: 25px;
    z-index: 2000;
}

.cart-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    width: 100%;
    height: 100%;
    padding: 30px;
    box-sizing: border-box;
}

.cart-header {
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-family: 'Playfair Display', serif;
}

.close-cart-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--primary-color);
}

.cart-content {
    flex: 1; 
    width: 100%;
    margin: 20px 0; 
    padding: 10px;
    border: 1px solid white;
    border-radius: 20px;
    box-sizing: border-box;
    overflow-y: auto; 
    display: flex;
    flex-direction: column;
}

.cart-content.is-empty {
    justify-content: center;
    align-items: center;
}

.cart-content:not(.is-empty) {
    justify-content: flex-start;
    align-items: stretch;
}

.cart-footer {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.cart-item-row {
    display:flex;
    gap: 12px;
    padding: 5px;
    align-items: center;
    border-radius: 12px;
    background-color: bisque;
    border: 1px solid var(--button-color1);
}

.cart-item-pic {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    overflow: hidden;
}

.cart-item-pic img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.cart-item-info {
    flex-grow: 1;
    display: flex;
    align-items: center;
    font-family: 'Playfair Display', serif;
    font-size: 1.2rem;
    justify-content: center;
}

/* Cart content: Ipad, Surface, Asus */
@media(min-width: 768px) {
    .cart-item-row{
        padding:15px;
        gap: 15px;
        border-radius: 15px;
    }

    .cart-item-pic{
        width: 115px;
        height: 115px;
    }

    .cart-item-info {
        font-size: 1.8rem;
    }
}

/* Cart Panel and content : Desktop views */
@media (min-width: 1024px) {
    .cart-content{
        padding: 20px;
    }

    .cart-item-row {
        display: flex;
        border-radius: 15px;
        padding: 15px 20px;
        gap: 15px;
        background-color: bisque;
        align-items: center;
    }

    .cart-item-pic {
        width: 150px;
        height: 150px;
        border-radius: 10px;
        overflow: hidden;
        flex-shrink: 0; /*this prevents the image from being squashed*/
    }

    .cart-item-pic img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .cart-item-info {
        flex-grow: 1;
        display: flex;
        align-items: center;
        font-family: 'Playfair Display', serif;
        font-size: 2.2rem;
        justify-content: center;
    }
}