body {
  margin: 0;
  font-family: 'Coffee Font', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  background: #9bc285;
  color: white;
}

.navbar {
  background: #9bc285;
  color: white
}

.navbar a{
  font-family: 'Coffee Font',cursive;
  color:white;
}
