* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-light: #f8f1c6;
  --text-dark: #333333;
  --text-light: #ffffff;
  --primary-color: #32492f;
  --header-color: #4f684c;
  --secondary-color: #9cd196;
}



body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background-light) !important;
  color: var(--text-dark);
}

/* Scrollbar styling */
::-webkit-scrollbar {
  background: var(--header-color);
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(var(--primary-color), var(--secondary-color), #ffffff);
  border-radius: 6px;
}

.navbar {
  background: var(--header-color);
  color: var(--text-light);
}

.navbar a {
  color: var(--text-light);
}
.navbar a:hover {
  color: var(--secondary-color)
}

.header {
  background: #4f684c;
  color: white;
}

.header h1 {
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
}

.header p {
  font-size: 1.1rem;
  line-height: 1.5;
  margin-bottom: 20px;
}

.header-image-placeholder {
  width: 100%;
  max-width: 470px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border-radius: 12px;
}

.features {
  padding: 70px 0;
  text-align: center;
}

.features-grid {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.features-item {
  flex: 1;
  padding: 20px;
  position: relative;
}

.menu-title-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.menu-slider-wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.menu-grid-content{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  overflow: hidden;
}

.menu-item {
  flex: 0 0 calc(33.33% - 13.333px);
  text-align: center;
}
