* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-light: #f8f1c6;
  --text-dark: #4b4b4b;
  --text-light: #ffffff;
  --primary-color: #32492f;
  --header-color: #4f684c;
  --secondary-color: #9cd196;
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background-light) !important;
  color: var(--text-dark) !important;
}

/* Scrollbar styling */
::-webkit-scrollbar {
  background: var(--header-color);
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(var(--primary-color), var(--secondary-color), #ffffff);
  border-radius: 6px;
}

/* NAVI BAR */
.navbar {
  background: var(--header-color);
  color: var(--text-light);
}

.navbar-brand {
  font-family: 'Playfair Display', serif;
  font-size: 1.8rem;
  
}

.navbar a {
  color: var(--text-light);
}
.navbar a:hover {
  color: var(--secondary-color)
}

/* HEADER/BANNER */
.header {
  background: #4f684c;
  color: white;
}

.header h1 {
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
}

.header p {
  font-size: 1.1rem;
  line-height: 1.5;
  margin-bottom: 20px;
}

.header-image-placeholder {
  width: 100%;
  max-width: 470px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border-radius: 20px;
  overflow: hidden;
}

/* FEATURE SERVICES */
.features {
  padding: 40px 0;
  text-align: center;
}

.features-grid {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.features-item {
  flex: 1;
  padding: 20px;
  position: relative;
}

/* MENU HIGHLIGHT */
.menu {
  padding: 40px 0;
  text-align: center;
}

.highlight-container {
  margin-bottom: 30px;
}

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  border-bottom: #9cd196 double;
}

#menu-title {
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
}

.menu-slider-wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.menu-viewpoint{
  width: 100%;
  overflow: hidden;
}

.menu-card {
  flex: 0 0 calc(33.33% - 13.333px);
  text-align: center;
  display: flex;
  flex-direction: column;
}

.menu-image-container {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 15px;
}

.menu-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.menu-image-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 110px;
  display:flex;
  flex-direction: column;
  padding: 20px 15px;
  background: linear-gradient(to top, rgba(0,0,0,0.8), transparent);
  color: white;
  text-align: left;
}

.menu-image-text h3, .menu-image-text p {
  margin: 0;
}

/* MENU LIST */
.menu-list-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}
.menu-list-section {
    display: flex;
    align-items: stretch;
    gap: 60px;            
    margin-bottom: 100px;
    width: 100%;
}

/* FLIP EACH ROW OF MENULIST */
.menu-list-section:nth-child(even) {
    flex-direction: row-reverse;
}

/* MENU LIST AND PIC EVEN SIZING */
.menu-list, 
.menu-list-pic {
    flex: 1;
    width: 50%; 
    display: flex;
    flex-direction: column;
}

.menu-list-header {
    border-bottom: #9cd196 double; 
    margin-bottom: 25px;
    padding-bottom: 10px;

}

.menu-list-header h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2.2rem;
    margin: 0;
    text-align: left;
}

.menu-list-content {
    display: flex;
    justify-content: space-between; 
    flex-grow: 1; 
}

.menu-list-items {
    text-align: left;
    font-weight: 500;
}

.menu-list-prices {
    text-align: right;
    font-weight: 600;
}

.menu-item-name, 
.menu-item-price {
    line-height: 2.5;
    font-size: 1.1rem;
}

/* IMAGE SECTION */
.menu-image-frame {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 15px;
}

.menu-image-frame img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
