body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  background: #4f684c;
  color: white;
}

header h1 {
  font-family: 'Playfair Display', serif;
}

.navbar {
  background: #4f684c;
  color: white
}

.navbar a{
  color:white;
}
