*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%;
  height: auto;
}

:root {
  --background-light: #f8f1c6;
  --text-dark: #4b4b4b;
  --text-light: #ffffff;
  --primary-color: #32492f;
  --header-color: #4f684c;
  --secondary-color: #9cd196;
  --button-color1: #a0793d;
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background-light) !important;
  color: var(--text-dark) !important;
}

section{
  padding: 30px 0px;
}

/* Scrollbar styling */
::-webkit-scrollbar {
  background: var(--header-color);
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(var(--primary-color), var(--secondary-color), #ffffff);
  border-radius: 6px;
}

/* NAVI BAR */
.navbar {
  background: var(--header-color);
}

.navbar-brand {
  font-family: 'Playfair Display', serif;
  font-size: 1.8rem;
}

.navbar .navbar-brand,
.navbar .nav-link {
  color: var(--text-light);
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus,
.navbar .nav-link:hover,
.navbar .nav-link:focus,
.navbar .nav-link:active {
  color: var(--secondary-color);
}

/* HEADER/BANNER */
.header {
  background: #4f684c;
  color: white;
}

.header h1 {
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
}

.header p {
  font-size: 1.1rem;
  line-height: 1.5;
  margin-bottom: 20px;
}

.header-image-placeholder {
  width: 100%;
  max-width: 470px;
  height: 400px;
  margin-left: auto;
  margin-right: 0;
  margin-bottom: 20px;
  border-radius: 20px;
  overflow: hidden;
  text-align: right;
}

/* FEATURE SERVICES */
.features {
  padding: 40px 0 !important;
  width: 100%;
  overflow: hidden;
}

.features-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  max-width: 1100px;
  margin: 0 auto;
}

.features-item {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.feature-icon {
  font-size: 2rem;
  color: var(--header-color);
  margin-bottom: 5px;
  text-align: center;
}

.feature-title h3 {
  font-family: 'Playfair Display', serif;
  font-size: 1.5rem;
  color: var(--primary-color);
  margin-bottom: 10px;
  text-align: center;
}

.feature-description p {
  margin-bottom: 0;
  line-height: 1.5;
  word-wrap: break-word;
  text-align: center;
}


@media (min-width: 768px) {
  .features-grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
}

/* MENU HIGHLIGHT */
.menu {
  text-align: center;
}

.highlight-container {
  margin-bottom: 30px;
}

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
  border-bottom: #9cd196 double;
}

#menu-title {
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
}

.menu-slider-wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.menu-viewpoint{
  width: 100%;
  padding: 10px 0;
  overflow: hidden;
}

.menu-slider-track{
  display: flex;
  width: 100%;
}

 .menu-card {
  flex: 0 0 100%;
  padding: 0 10px;
  box-sizing: border-box;

 }
 
.menu-card:hover{
  transform: scale(1.03);
  transition: transform 0.3s ease;
}

.slider-controls {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.btn-prevNext {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease, color 0.2s ease;
  color: var(--header-color);
}
.btn-prevNext:hover {
  color: var(--button-color1);
  transform: scale(1.2);
}

.btn-prevNext ion-icon {
  font-size: 1.5rem;
}

/* MENU LIST WITH PRICES*/
.menu-image-container {
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 20px;
  }

.menu-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.menu-image-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 110px;
  display:flex;
  flex-direction: column;
  padding: 20px 15px;
  background: linear-gradient(to top, rgba(0,0,0,0.8), transparent);
  color: white;
  text-align: left;
}

.menu-image-text h3, .menu-image-text p {
  margin: 0;
}

.menu-list-section {
    display: flex;
    gap: 30px;            
    flex-direction: column;
    margin-bottom: 60px;
}

.menu-item-row {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px dotted #ccc;
}

/* MENU LIST AND PIC EVEN SIZING */
.menu-list-header {
    border-bottom: #9cd196 double; 
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.menu-list-header h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2.2rem;
    margin: 0;
    text-align: left;
}

.menu-list-content {
    display: flex;
    flex-direction:column;
    gap: 30px;
    margin-bottom: 60px;
    width:100%;
}

@media (min-width: 768px) {
    .menu-card {
      flex: 0 0 33.33%;
    }

    .menu-list-section {
        flex-direction: row;
        align-items: center; 
        gap: 60px;
        margin-bottom: 100px;
    }

    .menu-list-section:nth-child(even) {
        flex-direction: row-reverse;
    }

    .menu-list, .menu-list-pic {
        width: 50%; 
    }
}

.menu-list-items {
    text-align: left;
    font-weight: 500;
}

.menu-list-prices {
    text-align: right;
    font-weight: 600;
}

.menu-item-name, 
.menu-item-price {
    line-height: 2.5;
    font-size: 1.1rem;
}

/* IMAGE SECTION */
.menu-image-frame {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 15px;
}

.menu-image-frame img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* GALLERY SECTION */
.carousel {
  padding-top: 0;
  width: 100%;
  overflow-x: auto;
}

.gallery-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
  border-bottom: #9cd196 double;
}
.gallery-header h2 {
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
}
.gallery-header a{
  text-decoration: none;
  color: var(--header-color);
}
.gallery-header a:hover{
  color: var(--button-color1);
}

.gallery-viewpoint{
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  touch-action: pan-x;
  scroll-snap-type: x mandatory;
  scrollbar-width:none;
  -webkit-overflow-scrolling: touch;
}
.gallery-viewpoint::-webkit-scrollbar{
  display: none;
}

.gallery-trail{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: max-content;
  gap: 1em;
  margin: 10px 0;
}

.gal-card{
  position: relative;
  width: 100%;
  height: 300px;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 20px;
}

.gal-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

@keyframes slideLoop{
  from{
    transform: translateX(0);
  }
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

@media(min-width: 768px) {
  .gallery-viewpoint{
    overflow: hidden;
    width: 100%
  }

  .gallery-trail{
    gap: 20px;
    width: max-content;
    animation: slideLoop 20s linear infinite;
    will-change: transform;
  }
  .gallery-trail:hover{
    animation-play-state: paused;
  }

 .gal-card{
    flex: 0 0 300px;
    margin-right: 20px;
    overflow: hidden;
  }
  .gal-card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
  }

  @keyframes slideLoop{
    from{
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
}

/* CONTACT SECTION */
.contact-wrapper{
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 10px 0;
}

.contact-header {
    border-bottom: #9cd196 double; 
    margin-bottom: 15px;
    padding-bottom: 10px;
}
.contact-header h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
}

.info-grid{
  display: grid;
  grid-template: 1fr;
  gap: 15px;
}

.info-card ion-icon{
  font-size: 30px;
  color: var(--header-color);
}
.info-card h3{
  font-family: 'Playfair Display', serif;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.contact-map {
  height: 250px;
  border-radius: 15px;
  overflow: hidden;
  margin-top: 20px;
}

.contact-form h2{
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  margin-bottom: 15px;
}


.input-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 20px;
}

.form-group-wrapper input,
.form-group-wrapper textarea {
  width: 100%;
  padding: 12px;
  font-size: 1rem;  
  font-family: 'Playfair Display', serif;
  box-sizing: border-box;
  border-radius: 12px;
  appearance: none;
  border: 1px solid #ccc;
}

.btn-submit {
  background-color: var(--button-color1);
  color: var(--text-light);
  padding: 12px 18px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}

@media(min-width: 768px) {
  .contact-wrapper{
    flex-direction: row;
    justify-content: space-between;
  }

  .info-grid{
    grid-template: repeat(1, 1fr) / repeat(3, 1fr);
    gap: 30px;
  }

  .contact-map {
    height: 400px;
    flex: 1;
  }

  .contact-form {
    flex: 1;
    margin-left: 40px;
  }
}

/* FOOTER */
.footer-wrapper {
  width: 100%;
  background: var(--header-color);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  text-align: center;;
}


